body {
  font-family: "Gill Sans", sans-serif;
  background-color: #B2B7E5;
  text-align: center;
}
h1 {
  margin-top: 100px;
  font-size: 50px;
}
h2 {
  margin-top: 75px;
  font-size: 40px;
}
#determine {
  font-size: 30px;
}
p {
  font-size: 25px;
}
button {
  font-family: "Gill Sans", sans-serif;
  font-size: 25px;
  padding: 15px 30px;
  background-color: #36D3FF;
  box-shadow: 0 7px #999;
}
button:hover {
  background-color: #2CA5C7;
}
button:active {
  background-color: #2CA5C7;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}
li {
  text-align: left; 
  font-size: 20px;
}
ol {
  display: table;
  margin: 0 auto;
}
#steps {
  border: 3px;
  border-style: solid;
  border-radius: 50px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #78BF81;
}
